body {
    text-align: center;
}
ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}
ul li {
    border: 2px solid darkred;
    height: 200px;
    width: 140px;
    list-style: none;
    text-align: center;
    margin: 5px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 1px 1px 2px #ccc;
    transition: transform 200ms ease-in-out;
}
ul li:hover {
    box-shadow: 2px 2px 3px #bbb;
    transform: translate3d(-1px, -1px, 0);
}
li img {
    width: 50%;
    margin: 0 auto;
}
li p {
    display: block;
}